/* --------- For Phones ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
   body{
    background:#ffb3ff;
   } 
}
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: red;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background:#4d94ff;
  }
}
